@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.min.css" rel="stylesheet" />
    <link href="~/css/modern-business.css" rel="stylesheet" />
    <link href="~/css/myStyle.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="link link--kukuri" asp-page="/Index" data-letters="IT SHOP">IT SHOP</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Order/MyOrders">My Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Cart/ShoppingCart">
                            <i class="fa fa-shopping-cart"></i>
                            @*@if (Context.Session.GetObjectFromJson<List<BusinessLayer.ShoppingCart>>("CartItems") != null)
                            {
                                <span class="numberShopItems">@(Context.Session.GetObjectFromJson<List<BusinessLayer.ShoppingCart>>("CartItems").Count())</span>
                            }
                            else
                            {
                                <span class="numberShopItems">0</span>
                            }*@
                            <vc:shopping-cart></vc:shopping-cart>
                        </a>
                    </li>
                    <li>
                        <form method="get" class="form-inline" asp-page="/Search">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search" style="width:128px;">
                            <button class="btn btn-success" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    @RenderSection("Index", required: false)

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
