@page
@model ITShop.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

@section Styles{
    <link href="~/css/button.css" rel="stylesheet" />
    <link href="~/css/pricingTable.css" rel="stylesheet" />
    <style>
        .cardNumClass {
            display: none;
        }
    </style>
}


<form method="post">
    <input type="hidden" asp-for="Order.Id" />
    <div class="row">
        <div class="col">
            <label asp-for="Order.FirstName"></label>
            <input class="form-control" asp-for="Order.FirstName">
            <span class="text-danger" asp-validation-for="Order.FirstName"></span>
        </div>
        <div class="col">
            <label asp-for="Order.LastName"></label>
            <input class="form-control" asp-for="Order.LastName">
            <span class="text-danger" asp-validation-for="Order.LastName"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label asp-for="Order.City"></label>
            <input class="form-control" asp-for="Order.City">
            <span class="text-danger" asp-validation-for="Order.City"></span>
        </div>
        <div class="col">
            <label asp-for="Order.Country"></label>
            <input class="form-control" asp-for="Order.Country">
            <span class="text-danger" asp-validation-for="Order.Country"></span>
        </div>
    </div>
    @if (!Model.ApplicationUser.IsMember)
    {
        <div class="demo" style="margin:16px 0 0 0">
            <div class="container">
                <div class="row">
                    @for (int i = 0; i < Model.Memberships.Count(); i++)
                    {

                        <div id="myDiv" class="col-md-4 col-sm-6">
                            <div class="pricingTable green">
                                <div class="pricingTable-header">
                                    <h3 class="title">@Model.Memberships[i].Type</h3>
                                </div>
                                <div class="price-value">
                                    <span class="amount">$ @Model.Memberships[i].Price</span>
                                </div>
                                <ul class="pricing-content">
                                    <li class="disable">Discount on all products:</li>
                                    <li>@Model.Memberships[i].Discount.ToString("P")</li>
                                    <li class="disable">For this order you will pay:</li>
                                    <li>$ @(String.Format("{0:0.00}",Model.Order.OrderTotal*(1-Model.Memberships[i].Discount))) + @Model.Memberships[i].Price</li>
                                </ul>
                                <div class="pricingTable-signup">
                                    <input style="width:2em; height:2em; color:green" type="radio" asp-for="Selected" value="@Model.Memberships[i].Id" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="text-success">*Hold down Ctrl key to uncheck</div>
    }
    else
    {
        <table class="table table-dark" style="margin-top:16px">

            <tbody>
                <tr>
                    <th scope="row">Membership: </th>
                    <td>@Model.ApplicationUser.Membership.Type</td>
                </tr>
                <tr>
                    <th scope="row">Discount: </th>
                    <td>@Model.ApplicationUser.Membership.Discount.ToString("P")</td>
                </tr>
                <tr>
                    <th scope="row">Total Pay: </th>
                    <td>@Model.Order.OrderTotal</td>
                </tr>
            </tbody>
        </table>
    }

    <div class="button d-flex justify-content-center" style="margin:0 auto">
        <button id="buttonId" type="submit">Order <i class="fa fa-check-double"></i></button>
    </div>
</form>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        var radios = document.getElementsByTagName('input');
        for (i = 0; i < radios.length; i++) {
            radios[i].onclick = function (e) {
                if (e.ctrlKey) {
                    this.checked = false;
                }
            }
        }
    </script>
}