@page
@model ITShop.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    @foreach (var cartItem in Model.CartItems)
    {
        <tr>
            <td>
                @cartItem.Product.Name
            </td>
            <td>@cartItem.Product.Price</td>
            <td>
                <form class="d-inline align-middle" method="post">
                    <button class="btn" asp-page-handler="Minus" asp-route-id="@cartItem.Product.Id">-</button>
                </form>
                <span style="padding:1px 10px">@cartItem.Quantity</span>
                <form class="d-inline align-middle" method="post">
                    <button class="btn" asp-page-handler="Plus" asp-route-id="@cartItem.Product.Id">+</button>
                </form>
            </td>
            <td>@(cartItem.Quantity * cartItem.Product.TotalPrice)</td>
        </tr>
    }
    <tfoot style="visibility:@(!Model.CartItems.Any() ? "visible" : "hidden")">
        <tr>
            <td colspan="4">
                Nothing to display.
            </td>
        </tr>
    </tfoot>
</table>
<table class="table table-dark">

    <tbody>
        @if (Model.ApplicationUser != null)
        {
            @if (Model.ApplicationUser.Membership != null)
            {
                <tr>
                    <th scope="row">Membership: </th>
                    <td>@Model.ApplicationUser.Membership.Type</td>
                </tr>
                <tr>
                    <th scope="row">Discount: </th>
                    <td>@Model.ApplicationUser.Membership.Discount.ToString("P")</td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">Membership: </th>
                    <td>No Membership</td>
                </tr>
                <tr>
                    <th scope="row">Discount: </th>
                    <td>0 %</td>
                </tr>
            }
        }
        <tr>
            <th scope="row">Total Pay: </th>
            <td>$ @Model.TotalPrice</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success" asp-page="/Order/Checkout">Checkout</a>
<span class="alert alert-danger" style="visibility:@(Model.Message!=null ? "visible" : "hidden")">@Model.Message</span>
