@page
@model ITShop.Pages.SearchModel
@{
    ViewData["Title"] = "Search";
    var imagePath = "~/images/image700x400/700x400.png";

}

@section Styles{
    <link href="~/css/search.css" rel="stylesheet" />
}

@if (Model.Products.Count() == 0)
{
    <div class="noResult">
        <p>
            No results for <span>@Model.Search</span>.
        </p>
        <p>
            Try checking your spelling or use more general terms
        </p>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Search))
{
    <div class="result">
        <h3>Found @Model.Products.Count() results for @Model.Search</h3>
    </div>
}

<div class="row" style="margin-top:3%">


    @foreach (var product in Model.Products)
    {
        if (product.ImagePath != null)
        {
            imagePath = product.ImagePath;
        }
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="product-grid3">
                <div class="product-image3">
                    <a asp-page="/Products/Detail" asp-route-id="@product.Id">
                        <img class="pic-1" src="@imagePath" asp-append-version="true">
                    </a>
                    <ul class="social">
                        <li><a asp-page="/Products/Detail" asp-route-id="@product.Id"><i class="fa fa-eye"></i></a></li>
                        <li><a asp-page="/Cart/ShoppingCart" asp-route-id="@product.Id" asp-page-handler="Buy"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">@product.Name</a></h3>
                    <div class="price">
                        @product.TotalPrice.ToString("C")
                        @if (product.Discount != 0)
                        {
                            <span class="oldPrice">@product.Price.ToString("C")</span>
                            <span class="discountPercent">-@(product.Discount*100)%</span>
                        }
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @Model.CalculateProgressBar(product.Quantity)%" aria-valuenow="@Model.CalculateProgressBar(product.Quantity)" aria-valuemin="0" aria-valuemax="100"></div>
                        <span class="percent">&emsp;@Model.CalculateProgressBar(product.Quantity) %</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>